
*{
  margin: 0;
  padding: 0;
}
body{
  color: #fff;
  background-color: rgb(3,0,29);
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.linia{ 
  width: 1px;
  height: 80px; 
  border: 5px solid turquoise;
  background: turquoise;
  border-radius: 20px;
  color: #fff;
  position: absolute;
  bottom: 640px;
  left: 90px;
  animation: linia 10s infinite alternate linear;
}
@keyframes linia{
  0%   {bottom: 640;}
  11%{
    opacity: 0;
  }
  25%  {opacity: 1;
  bottom: 470px;}
  33%{
    opacity: 0;
    
  }
  50%  {bottom: 290px;
  opacity: 1;}
  65%{
    opacity: 0;
  }
  75%  {opacity: 1;
    bottom: 470px;}
    88%{
      opacity: 0;
    }
  100% {bottom: 640px;}
}

.container{
  display: flex;
}

.icon1{
  position: absolute;
  width: 30px;
  height: 3px; 
  background-color: cyan;
  animation: icon 1.9s infinite alternate;
  top: 300px;
  left: 190px;
  padding-right: 7px;
  }
          @keyframes icon{

to{
  width: 10px;
  height: 5px; 
  /* padding-left: 30px; */
  border-radius: 20px;
}

  }


  .icon2{
    position: absolute;
    width: 40px;
    height: 3px; 
    padding-right: 8px;
    background-color: cyan;
   
    top: 10px;
    left: 0.1px;
    animation: icon2 1.6s  infinite alternate; 
    }
@keyframes icon2{
  to{
    width: 5px;
    height: 5px; 
    /* padding-left: 30px; */
    border-radius: 20px;
  }
}

    .icon3{
      position: absolute;
      width: 40px;
      height: 3px; 
      background-color: cyan;
      
      top: 10px;
      left: 0.1px;
      animation: icon3 1.7s infinite alternate;
      }
      @keyframes icon3{

        to{
          padding-right: 12px;
          width: 10px;
          height: 5px; 
          /* padding-left: 30px; */
          border-radius: 20px;
        }
        
          }
.items1{
  font-size: 20px;
  letter-spacing: 12px;
padding: 70px 0 80px ;
color: rgb(126, 124, 124);
}
.items{
  /* padding: 66px; */
  font-size: 30px;
margin:104px;
}
span{
  color: rgb(63, 63, 47);
  animation: text 1s infinite alternate linear;
}

span:nth-child(1){
  animation-delay:0.1s ;
}
span:nth-child(2){
  animation-delay:0.2s ;
}
span:nth-child(3){
  animation-delay:0.3s ;
}
span:nth-child(4){
  animation-delay:0.4s ;
}
span:nth-child(5){
  animation-delay:0.5s ;
}
span:nth-child(6){
  animation-delay:0.6s ;
}
span:nth-child(7){
  animation-delay:0.7s ;
}
span:nth-child(8){
  animation-delay:0.8s ;
}
span:nth-child(9){
  animation-delay:0.9s ;
}
@keyframes text{
  to{
    color: #fff;
  }

}

.item{
  font-size: 20px;
  margin-top: 5px;
  color: rgb(126, 124, 124);
  animation: harakat 2s infinite alternate linear;

}
.item5{
  font-size: 20px;
}
@keyframes harakat{
  /* 0%   {color:red; left:0px; top:0px;}
  25%  {color:yellow; left:200px; top:0px;}
  50%  {color:blue; left:200px; top:200px;}
  75%  {color:green; left:0px; top:200px;}
  100% {color:red; left:0px; top:0px;} */
  from {left: 0px;}
  to {color: white;left: 30px;}
  
  }
.con2{
   background-size: cover;
 background-repeat:no-repeat ;  
}
 .center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 650px;
  height: 650px;
  box-sizing: border-box;
  
}


.circle1{
  width: 100%;
  height: 100%;

  border-radius:50%;
  border-style: solid;
  
  border-width: 100px;
  border: 10px solid ;
  border-color: #eeb805 #c51c9b  #6909e6 #0db3e6 ;
  box-sizing: border-box;
  animation: animateCircle1 5s linear infinite;
}
.circle2,
.circle3,
.circle4,
.circle5,
.circle6{
  position: absolute;
border-radius: 50%;
border: 4px dashed #fff;
}
.circle2{
  top: 20px;
  left: 19px;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border-color: rgb(143, 136, 136) ;
  animation: animateCircle2 1s linear infinite;

}.circle3{
  top: 29px;
  left: 27px;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  border-color: #2e0de6 ;
  border: 10px dashed rgb(14, 22, 94);
  animation: animateCircle2 100s linear infinite;

}.circle4{
  top: 55px;
  left: 55px;
  width: calc(100% - 120px);
  height: calc(100% - 120px);
  border-color: #51239b ;
  border: dotted rgb(107, 13, 161);
  animation: animateCircle2 20s linear infinite;

}.circle5{
  
  top: 68px;
  left: 68px;
  width: calc(100% - 150px);
  height: calc(100% - 150px);
  border-color: #0db3e6 ;
  border: 7px solid white;
  transition: all 2s;
  animation: animateCircle5 10s linear infinite;
}

 .circle5:hover{
  
  top: 65px;
  left: 65px;
  width: calc(100% - 140px);
  height: calc(100% - 140px);
  border-color: hsl(115, 89%, 48%) ;
  animation: animateCircle2 3s linear infinite;
  transform: rotate(360deg);
} 
@keyframes animateCircle5 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.circle6{
  top: 114px;
  left: 110px;
  width: calc(100% - 230px);
  height: calc(100% - 230px);
  border-color: #2a116e ;
  border: dotted blue ;
  animation: animateCircle6 s linear infinite;
    transition: all 2s;  
}



.circle6:hover{
  
  top: 135px;
  left: 135px;
  width: calc(100% - 280px);
  height: calc(100% - 280px);
  border-color: #eeb805 ;
  animation: animateCircle6 1s reverse linear ;
    transform: rotate(360deg);  
}
@keyframes animateCircle1{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes animateCircle2{
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
 
@keyframes animateCircle6{
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
  .thy{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: turquoise;
    border: 10px solid black;
position: absolute;
right: 180px;
bottom: 470px;
 transform: rotate(360deg); 
  }
.thy:hover{
 transform: rotate(360deg); 
}
  .cir{
    display: flex;
    justify-content: center;
align-items: center;
    width: 120px;
    height: 120px;
    border: 10px solid black;
    border-radius: 50%;
    background-color: turquoise;
    position: absolute;
    top: 400px;
    left: 240px;
  }
  .dri{
    display: flex;
    justify-content: center;
align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 10px solid black;
    background-color: turquoise;
    position: absolute;
    bottom: 1px;
    right: 490px;
  }



  
  /*.circle1{
    width:70px;
    height:70px;
    background:cyan;
    border-radius:50%;
    position:absolute;
    top:0; bottom:0; left:0;right:0;
     /* overflow:hidden;  
    margin:auto;
    animation: circle1 10s linear infinite;
  } 
  

  .circle2{
    width:70px;
    height:70px;
    background:cyan;
    border-radius:50%;
    position:absolute;
    top:0; bottom:0; left:0;right:0;
     overflow:hidden; 
    margin:auto;
    animation: circle2 10s linear infinite;
  } 
  .circle3{
    width:70px;
    height:70px;
    background:cyan;
    border-radius:50%;
    position:absolute;
    top: 0px; bottom:0px; left:0px;right:0px;
     overflow:hidden; 
    margin:auto;
    animation: circle3 10s linear infinite alternate;
  } 
  
  @keyframes circle1{
    0%{
      transform:rotate(0deg)
                translate(-165px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-165px)
                rotate(-360deg);
    }
  }
  @keyframes circle2{
    0%{
      transform:rotate(60deg)
                translate(-165px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-165px)
                rotate(-360deg);
    }
  }
  @keyframes circle3{
    0%{
      transform:rotate(90deg)
                translate(-165px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-165px)
                rotate(-360deg);
    }
  }
    */