*{
  color: white;

  }

  body{
    padding: 50px 200px;
  }
  .main{
    display: flex;
    flex-direction: column;
    
  }

  .perent{
    display: flex;
    background-color: #394166;
    height: 60px;
  }