td{
  color: rgb(11, 12, 11);

}
.red{
  color: rgb(219, 23, 23);
  background-color: springgreen;
  border-color: rgb(14, 13, 13);
  font-size: 30px;
}
.red{
  color: cadetblue;
}
.dak{
  color: cadetblue;
}