body{
  background-color: cyan;
  
}
.contey{
  /* display: flex; */
}
.cont{
  width: 400px;
  height: 720px;
  background: burlywood;
  /* margin: 20px auto; */
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.input{

  margin: 10px 30px;
}

.con3{
  width: 250px;
display: flex;

top: 20px;
right: 400px;
  
  background: darkgoldenrod;
}